/* Coolors Exported Palette - coolors.co/bbbab7-fde1b1-bcc1c4-cbbb9f-f0f0f0 */

/* HSL */
$color1: hsla(45%, 3%, 73%, 1);
$color2: hsla(38%, 95%, 84%, 1);
$color3: hsla(203%, 6%, 75%, 1);
$color4: hsla(38%, 30%, 71%, 1);
$color5: hsla(0%, 0%, 94%, 1);

/* RGB */
$color1: rgba(187, 186, 183, 1);
$color2: rgba(253, 225, 177, 1);
$color3: rgba(188, 193, 196, 1);
$color4: rgba(203, 187, 159, 1);
$color5: rgba(240, 240, 240, 1);
$color6: rgb(0, 0, 0);